---
layout: default
title: About
---

{% include header.html %}

<section class="bg-silver mb4">
  <div class="max-width-lg mx-auto items-center justify-between lg-flex">
    <div class="px3 py3 lg-width-60">
      <h1 class="h2 italic">About Me</h1>
      <h2 class="font-secondary h7 lh-copy mb2 uppercase md-h6">Who Is behind <span class="nowrap">Lionheart Finances?</span></h2>
      <p class="h5 mb1">My name is Laksh Singh, and I'm deeply committed to empowering younger generations to take control of their financial futures as early as possible. Finance has been a lifelong passion of mine, and I've actively found opportunities to be able to use finance in the "real world". Through internships and shadowing experiences, I've gained insights into business and financial literacy that I'm eager to share with others.</p>
      <p class="bold font-secondary h6">Email: <a class="black regular underline" href="mailto:lionheartfinances@gmail.com">lionheartfinances@gmail.com</a></p>
    </div>
    <div class="pb3 px3 lg-pt3 lg-width-40">
      <img alt="Profile of Laksh Singh" class="block crop" src="/assets/images/profile-square.jpg">
    </div>
  </div>
</section>

<section>
  <div class="px3 lg-text-center">
    <h2 class="h3 italic mb2">Why Lionheart Finances?</h2>
    <p class="h5 measure mx-auto">Through my work with Lionheart Finances, I aspire to inspire others to develop the same enthusiasm for financial literacy that I've gained in my journey. My&nbsp;goal is to ensure that everyone has a strong foundation in financial literacy and the ability to make informed, responsible financial decisions.</p>
  </div>

  <div class="max-width-xl mx-auto px3 py4 lg-flex">
    <div class="mb3 lg-mb0">
      <h2 class="font-secondary h4 mb2">Internship Experience</h2>
      <p class="measure md-h5">I've interned at Family Health Center (FHC), a non-profit hospital, to assist in the budgeting and marketing of their Back-to-School Bash. There, I learned how marketing and finance can be used to give back to the community.</p>
    </div>
    <div class="mb3 lg-mb0 lg-ml3">
      <h2 class="font-secondary h4 mb2">Family History</h2>
      <p class="measure md-h5">As the child of two entrepreneurs, I've spent my whole life listening to my parents talk about money. As I've gotten older, I've witnessed how easy it is to misuse money, which has cemented in my mind the importance of having a basic understanding of personal finance. Because of this, I decided to leverage the power of the internet and make videos to help <em>educate the uninformed</em>.</p>
    </div>
    <div class="lg-ml3">
      <h2 class="font-secondary h4 mb2">Job Shadowing</h2>
      <p class="measure md-h5">I've job-shadowed multiple personal financial advisors at <a class="black underline" href="https://www.brightfinancialadvisors.com/">Bright Financial Advisors</a>. There, I gained information about financial literacy which sparked my desire to spread the lessons I've learned.</p>
    </div>
  </div>
</section>


{% include footer.html %}
