---
layout: default
title: Home
---

{% include header.html %}

<section class="bg-silver">
  <div class="flex">
    <div class="px3 py4 width-50">
      <h1 class="h3 italic">Lionheart Finances</h1>
      <h2 class="gray h7 font-secondary mb2 uppercase">Educating the Uninformed</h2>
      <p class="h3 measure">I help younger generations become more confident in their abilities to make financial decisions.</p>
    </div>

    <div class="width-50">
      <iframe
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        class="yt-embed"
        frameborder="0"
        src="https://www.youtube.com/embed/qxcwlsbv_h0"
        title="Lionheart Finances YouTube video">
      </iframe>
    </div>
  </div>
</section>

<section>
  <h1>Watch Lionheart Yourself</h1>
  <p>Visit my social media pages to learn more about finances and become better with your money.</p>
  <div>
    <a href="">
      <h2>Instagram</h2>
      <p>@lionheart_finances</p>
    </a>
    <a href="https://www.tiktok.com/@lionheartfinances">
      <h2>TikTok</h2>
      <p>@lionheartfinances</p>
    </a>
    <a href="https://www.youtube.com/@lionheart_finances">
      <h2>YouTube</h2>
      <p>@lionheart_finances</p>
    </a>
  </div>
</section>

<section>
  <h1>What People Are Saying</h1>
  <div>
    <p><q cite="">I can't believe how amazing you are. Every time I think of something, you've already considered it.</q></p>
    <h2>Denise Crawford</h2>
    <h3>CEO &mdash; Family Health Center</h3>
  </div>
  <div>
    <p><q cite="">This is the best work I've ever seen. The thoughtfulness is just incredible. I highly recommend it!</q></p>
    <h2>Andrew Price</h2>
    <h3>President &mdash; Bright Financial Advisors</h3>
  </div>
  <div>
    <p><q cite="">Never have I been so thoroughly impressed by the work of one individual in my life.</q></p>
    <h2>Irene Mayfield</h2>
    <h3>Teacher &mdash; IB Business</h3>
  </div>
</section>

{% include footer.html %}
