---
layout: default
title: Services
---

{% include header.html %}

<section class="bg-silver items-center lg-flex">
  <div class="px3 py4 lg-width-50">
    <h1 class="h2 italic">Services</h1>
    <p class="h4">I currently offer tailored lessons and advice through social media and short seminars, in a way that's simple to understand and easy to practice.</p>
  </div>
  <div class="lg-width-50">
    <img alt="Profile of Laksh Singh" class="block" src="/assets/images/profile.jpg">
  </div>
</section>

<section class="max-width-xl mx-auto px3 py4 lg-flex">
  <div class="mb3 lg-mb0">
    <h2 class="font-secondary h4 mb2">Tailored Videos</h2>
    <p class="measure md-h5">My financial lessons and advice are primarily shared through multiple social media platforms, as they provide the most effective way to connect with the audience I aim to reach through Lionheart Finances&mdash;younger generations. By leveraging social media, I can engage, educate, and inspire individuals to take charge of their financial futures in easy, fun, and relatable way.</p>
  </div>
  <div class="mb3 lg-mb0 lg-ml3">
    <h2 class="font-secondary h4 mb2">Seminars <span class="alert blue bold uppercase">Coming Soon</span></h2>
    <p class="measure md-h5">Through fun, 30-minute lessons, I'll provide the basic literacy you'll need to understand your finances. These seminars cover the key tips and tricks to saving money and using it in the best way possible. The in-person lessons will be a short, unique, and interactive way to become more educated in the world of finance.</p>
  </div>
  <div class="lg-ml3">
    <h2 class="font-secondary h4 mb2">Personal Feedback</h2>
    <p class="measure md-h5">The many questions and inquires I receive from my seminars and videos are very important to me. I take great pride in personally responding to each question, making sure that those who seek knowledge receive thoughtful and meaningful answers. I believe that curiosity and asking questions are fundamental to true learning and personal growth.</p>
  </div>
</section>

{% include footer.html %}
