---
layout: default
title: Services
---

{% include header.html %}

<section>
  <div>
    <img alt="" src="https://placehold.co/600x400">
  </div>
  <div>
    <h1>Services</h1>
    <p></p>
  </div>
</section>

<section>
  <div>
    <h2>Tailored Videos</h2>
    <p>My financial lessons and advice are primarily shared through multiple social media platforms, as they provide the most effective way to connect with the audience I aim to reach through Lionheart Finances&mdash;younger generations. By leveraging social media, I can engage, educate, and inspire individuals to take charge of their financial futures in easy, fun, and relatable way.</p>
  </div>
  <div>
    <h2>Seminars <span>Coming Soon</span></h2>
    <p>Through fun, 30-minute lessons, I'll provide the basic literacy you'll need to understand your finances. These seminars cover the key tips and tricks to saving money and using it in the best way possible. The in-person lessons will be a short, unique, and interactive way to become more educated in the world of finance.</p>
  </div>
  <div>
    <h2>Personal Feedback</h2>
    <p>The many questions and inquires I receive from my seminars and videos are very important to me. I take great pride in personally responding to each question, making sure that those who seek knowledge receive thoughtful and meaningful answers. I believe that curiosity and asking questions are fundamental to true learning and personal growth.</p>
  </div>
</section>

{% include footer.html %}
