<header class="nav bg-black font-secondary p2">
  <nav>
    <ol class="flex items-center justify-center list-reset">
      <li>
        <a class="font-primary h4 italic mr3 white" href="/">
          <img alt="Logo" class="logo-icon" src="/assets/images/logo-icon.png">
          LF
        </a>
      </li>
      <li><a class="mr2 white" href="/services">Services</a></li>
      <li><a class="mr2 white" href="/about">About</a></li>
      <li><a class="mr2 white" href="/contact">Contact</a></li>
    </ol>
  </nav>
</header>
