* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $font-primary;
  line-height: 1.25;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.nav {
  border-bottom: 1px solid $white;
}

.logo-icon {
  vertical-align: middle;
  width: 40px;
}

.yt-embed {
  height: 420px;
  width: 100%;
}

.logo-bg {
  left: 2rem;
  opacity: 25%;
  top: -1rem;
  width: 540px;
  z-index: 1;
}

.alert {
  border: 1px solid;
  border-radius: .5rem;
  font-size: .5rem;
  font-weight: 600;
  padding: .25rem .5rem;
  vertical-align: top;
}

.crop {
  border-radius: 100%;
}

@mixin base-md {
  .logo-bg {
    left: auto;
    right: 2rem;
    width: 420px;
  }

  .crop {
    margin-left: auto;
  }
}
