$font-primary: sans-serif;
$font-secondary: monospace;

$h1: 3rem;
$h2: 2.5rem;
$h3: 2rem;
$h4: 1.5rem;
$h5: 1rem;
$h6: .875rem;

$space-1: .5rem;
$space-2: 1rem;
$space-3: 2rem;
$space-4: 4rem;

$black: #000;
$white: #fff;

$width-md: 768px;
$width-lg: 960px;
$width-xl: 1600px;
